# My Jupyter Notebook on IBM Watson Studio

my name is __afshin mosharaf__ 

I am currently an architect and hoping for a career change into data science in the field of finances

_I am interested in data science because since I got to met programing i fell in love with it and i wnat to put it in some good uses. I always also loved mathematics and statistics, thereby I choose data science_

### In the next cell there is a simple code of a function for outputing a simple adding operation on given numbers

In [3]:
def sum(a,b):
    re = a + b
    return re
sum(4,5)

9

***
## Top five car companies in the world:

 * Volkswagen
 * Toyota
 * Stellantis
 * Mercedes Benz
 * Ford Motor

***
## Top five best selling cars in 2021

| Model | No of Taransactiosn | 
| --- | --- |
| Ford Fiesta | 94,206 |
| Vauxhall Corsa | 73,366|
| Ford Focus | 72,105 |
| Volkswagen Golf | 69,582 |
|Vauxhall Astra | 56,189 |